# Vue / Node
node_modules/
.pnpm-store/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Spring
target/
build/
*.class
*.jar
*.war

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
logs/
